# Monitoring stack env

# Public-facing admin frontend envs
NEXT_PUBLIC_UPTIME_KUMA_URL=http://localhost:3001
NEXT_PUBLIC_GRAFANA_URL=http://localhost:3002
NEXT_PUBLIC_NOCODB_URL=http://localhost:8080
NEXT_PUBLIC_UNDERSTAND_ANYTHING_URL=

NEXT_PUBLIC_UPTIME_KUMA_EMBED=false
NEXT_PUBLIC_GRAFANA_EMBED=false
NEXT_PUBLIC_NOCODB_EMBED=false
NEXT_PUBLIC_UNDERSTAND_ANYTHING_EMBED=false
